<div class="about_div">
	<h3>About Me</h3>
	<p>For eight and a half years I've been the touring drummer for singer/dj/recording artist Mayer Hawthorne. Although music has always been a huge passion of mine, the amount of time away from home was difficult. I decided it was time to pursue another passion, coding. I began the process of learning to code on my own using programs such as Codecademy and FreeCodeCamp to get my footing. As time moved on I felt as though I wanted to dig deeper so I enrolled in a full time intensive coding bootcamp to get a firm foundation. The Front End/JavaScript Bootcamp I enrolled in was a 2 month long full-time program that taught HTML5, CSS3, JavaScript, jQuery, AngularJS, NodeJS (and npm), PostgreSQL, and more. Since graduating I've been working as a web developer intern at Deep Canvas.  I've learned an incredible amount there and I'm eager to continue pushing myself to grow and develope into an better web developer </p>
	<h3>skills</h3>

	<div class="list grid-x">
       <div class="medium-3 cell first"><p>HTML5</p></div>
       <div class="medium-3 cell second"><p>JavaScript</p></div>
       <div class="medium-3 cell third"><p>CSS3</p></div>
       <div class="medium-3 cell fourth"><p>jQuery</p></div>
     </div>
     <div class="list grid-x">
       <div class="medium-3 cell first"><p>AngularJS</p></div>
       <div class="medium-3 cell second"><p>PHP</p></div>
       <div class="medium-3 cell third"><p>Git</p></div>
       <div class="medium-3 cell fourth"><p>Sass</p></div>
     </div>
     <div class="list grid-x">
       <div class="medium-3 cell first"><p>WordPress</p></div>
       <div class="medium-3 cell second"><p>Advanced Custom Fields</p></div>
       <div class="medium-3 cell third"><p>Gulp</p></div>
       <div class="medium-3 cell fourth"><p></p></div>
     </div>

     <h3>education & training</h3>
		<div class="list grid-x">
	       <div class="medium-6 cell first"><p><b>University of Michigan (Ann Arbor)</b></p></div>
	       <div class="medium-6 cell second"><p>Jazz Studies, December 2008</p></div>
    	</div>

		<div class="list grid-x">
	       <div class="medium-6 cell first"><p><b>Grand Circus (Detroit)</b></p></div>
	       <div class="medium-6 cell second"><p>Front End Web Development, June 2015</p></div>
    	</div>

</div>
