<div class="contact-me">
	<h3>Contact Me</h3>
	<a href="mailto:quentinjosephinfo@gmail.com"><p>Via <i class="fa fa-envelope-o" aria-hidden="true"></i> Email</p></a>
	<p>or reach me on social media</p>
	<a href="https://www.facebook.com/quentinjoseph" target="_blank"><i class="fa fa-facebook-official contact-icons" aria-hidden="true"></i></a>
	<a href="https://www.instagram.com/quentinjoseph/" target="_blank"><i class="fa fa-instagram contact-icons" aria-hidden="true"></i></a>
	<a href="https://www.linkedin.com/in/quentinjoseph/" target="_blank"><i class="fa fa-linkedin-square contact-icons" aria-hidden="true"></i></a>
</div>